<div class="container-fluid" style="width: 100%;">
  <div class="row">

    <main role="main" class="col-md-12 ml-sm-auto col-lg-12 my-3">
      <div class="card-list">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card blue" data-bs-toggle="modal" data-bs-target="#cantidadDeDias">
              <div class="title">Habitacion</div>
              <i class="zmdi zmdi-upload"></i>
              <div class="value">Agregar</div>
              <div class="stat"><b>13</b>% increase</div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card green" (click)="getReservacion()" data-bs-toggle="modal" data-bs-target="#verReservaciones">
              <div class="title">Reservacion</div>
              <i class="zmdi zmdi-upload"></i>
              <div class="value">Ver reservacion</div>
              <div class="stat"><b>4</b>% increase</div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card orange" data-bs-toggle="modal" data-bs-target="#buscarUsuario">
              <div class="title">Eventos</div>
              <i class="zmdi zmdi-download"></i>
              <div class="value">Buscar usuario</div>
              <div class="stat"><b>13</b>% decrease</div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card red">
              <div class="title">habitacion</div>
              <i class="zmdi zmdi-download"></i>
              <div class="value">Ver habitaciones</div>
              <div class="stat"><b>13</b>% decrease</div>
            </div>
          </div>
        </div>
      </div>
      <div class="projects mb-4">
        <div class="projects-inner">
          <header class="projects-header">
            <div class="title">Personas hospedadas</div>
            <div class="count">|</div>
            <i class="zmdi zmdi-download"></i>
          </header>
          <table class="projects-table">
            <thead>
              <tr>
                <th>Project</th>
                <th>Usuario</th>
                <th>Total</th>
                <th>Status</th>
                <th class="text-right">Ver reservacion</th>
              </tr>
            </thead>
            <tr *ngFor="let hos of hospedajeModelGet">
              <td>
                <p>Hospedado</p>
                <p>Gestor de hoteles</p>
              </td>

              <td class="member">
                <figure><img src="https://cdn.icon-icons.com/icons2/1369/PNG/512/-person_90382.png" /></figure>
                <div class="member-info">
                  <p>User</p>
                  <p>Huesped</p>
                </div>
              </td>
              <td>
                <p>${{hos.total}}</p>
                <p>Paid</p>
              </td>
              <td class="status">
                <span class="status-text status-blue">Activo</span>
              </td>
              <td>
                <button type="button" class="btn btn-outline-info btn-rounded" data-mdb-ripple-color="dark" (click)="verHuesped(hos.idUsuario, hos._id)" >Ver huesped</button>
              </td>
            </tr>

          </table>
        </div>
      </div>


    </main>
  </div>
</div>

<div class="modal fade" id="cantidadDeDias" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body ">

        <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo d-flex justify-content-center ">
          <div class="wrapper wrapper--w680">
            <div class="card card-1">
              <div class="card-heading"></div>
              <div class="card-body">
                <h2 class="title">Agregar hotel</h2>
                <form method="POST">
                  <div class="input-group">
                    <input class="input--style-1" type="text" placeholder="horario" name="horario" #horario="ngModel"
                    [(ngModel)]="modelHabitacionPost.horario">
                  </div>
                  <div class="row row-space">
                    <div class="col-2">
                      <div class="input-group">
                        <input class="input--style-1" type="number" placeholder="precio" name="precio" #precio="ngModel"
                        [(ngModel)]="modelHabitacionPost.precio">
                      </div>

                    </div>
                    <div class="col-2">
                      <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="Caracteristicas"  name="caracteristicas" #caracteristicas="ngModel"
                        [(ngModel)]="modelHabitacionPost.caracteristicas">
                      </div>
                    </div>
                  </div>

                  <div class="row row-space">
                    <div class="col-2">
                      <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="Disponibles"  name="disponibles" #disponibles="ngModel"
                        [(ngModel)]="modelHabitacionPost.disponibles">
                      </div>

                    </div>
                    <div class="col-2">
                      <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="Tipo"  name="tipo" #tipo="ngModel"
                        [(ngModel)]="modelHabitacionPost.tipo">
                      </div>
                    </div>
                  </div>


                  <div class="p-t-20">
                    <button class="btn btn-outline-dark" (click)="postHabitacion()" style="color:#000000;">Enviar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="buscarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Buscar usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-dark">
        <div class="s129">
          <form id="usuario"  (submit)="buscarUsuario()" >
            <div class="inner-form">
              <div class="input-field">
                <button class="btn-search" type="submit" data-bs-dismiss="modal" (click)='buscarUsuario()'>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" >
                    <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                  </svg>
                </button>
                <input id="search" type="text submit" name="search" #search placeholder="¿Que usuario busca?"/>
              </div>
            </div>
          </form>
        </div>
       </div>
      <div class="modal-footer bg-secondary">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Buscar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="verReservaciones" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title " id="exampleModalLabel" style="color: #ffff">Ver reservaciones</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <section class="py-5"  >
          <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
              <div class="col mb-5" *ngFor="let res of reservacionModelGet">
                <div class="card h-100">
                  <!-- Product image-->
                  <img class="card-img-top" src="https://modelosdoc.com/wp-content/uploads/2020/04/Modelo-de-carta-de-reservaci%C3%B3n-de-hotel.jpg"
                    alt="..." />
                  <!-- Product details-->
                  <div class="card-body p-4">
                    <div class="text-center" style="color: #000000;">
                      <!-- Product name-->
                      <h5 class="fw-bolder" >total: {{res.total}}</h5>
                      <!-- Product price-->
                      cantidad de dias: {{res.cantidadDias}}
                    </div>
                  </div>
                  <!-- Product actions-->

                </div>
              </div>
            </div>

          </div>
        </section>      </div>
      <div class="modal-footer bg-dark" >
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
