<div class="container-fluid" style="width: 100%;">
  <div class="row">

    <main role="main" class="col-md-12 ml-sm-auto col-lg-12 my-3">
      <div class="card-list">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card blue" data-bs-toggle="modal" data-bs-target="#cantidadDeDias">
              <div class="title">Habitacion</div>
              <i class="zmdi zmdi-upload"></i>
              <div class="value">Agregar</div>
              <div class="stat"><b>13</b>% increase</div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card green">
              <div class="title">Reservacion</div>
              <i class="zmdi zmdi-upload"></i>
              <div class="value">Ver reservacion</div>
              <div class="stat"><b>4</b>% increase</div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card orange" (click)="getHospedados()">
              <div class="title">Hospedaje</div>
              <i class="zmdi zmdi-download"></i>
              <div class="value">Ver hospedados</div>
              <div class="stat"><b>13</b>% decrease</div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card red">
              <div class="title">habitacion</div>
              <i class="zmdi zmdi-download"></i>
              <div class="value">Ver habitaciones</div>
              <div class="stat"><b>13</b>% decrease</div>
            </div>
          </div>
        </div>
      </div>
      <div class="projects mb-4">
        <div class="projects-inner">
          <header class="projects-header">
            <div class="title">Ongoing Projects</div>
            <div class="count">| 32 Projects</div>
            <i class="zmdi zmdi-download"></i>
          </header>
          <table class="projects-table">
            <thead>
              <tr>
                <th>Project</th>
                <th>Deadline</th>
                <th>Leader + Team</th>
                <th>Budget</th>
                <th>Status</th>
                <th class="text-right">Actions</th>
              </tr>
            </thead>
            <tr>
              <td>
                <p>New Dashboard</p>
                <p>Google</p>
              </td>
              <td>
                <p>17th Oct, 15</p>
                <p class="text-danger">Overdue</p>
              </td>
              <td class="member">
                <figure><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/people_8.png" /></figure>
                <div class="member-info">
                  <p>Myrtle Erickson</p>
                  <p>UK Design Team</p>
                </div>
              </td>
              <td>
                <p>$4,670</p>
                <p>Paid</p>
              </td>
              <td class="status">
                <span class="status-text status-orange">In progress</span>
              </td>
              <td>
                <form class="form" action="#" method="POST">
                  <select class="action-box">
                    <option>Actions</option>
                    <option>Start project</option>
                    <option>Send for QA</option>
                    <option>Send invoice</option>
                  </select>
                </form>
              </td>
            </tr>

          </table>
        </div>
      </div>


    </main>
  </div>
</div>

<div class="modal fade" id="cantidadDeDias" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body ">

        <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo d-flex justify-content-center ">
          <div class="wrapper wrapper--w680">
            <div class="card card-1">
              <div class="card-heading"></div>
              <div class="card-body">
                <h2 class="title">Agregar hotel</h2>
                <form method="POST">
                  <div class="input-group">
                    <input class="input--style-1" type="text" placeholder="horario" name="horario" #horario="ngModel"
                    [(ngModel)]="modelHabitacionPost.horario">
                  </div>
                  <div class="row row-space">
                    <div class="col-2">
                      <div class="input-group">
                        <input class="input--style-1" type="number" placeholder="precio" name="precio" #precio="ngModel"
                        [(ngModel)]="modelHabitacionPost.precio">
                      </div>

                    </div>
                    <div class="col-2">
                      <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="Caracteristicas"  name="caracteristicas" #caracteristicas="ngModel"
                        [(ngModel)]="modelHabitacionPost.caracteristicas">
                      </div>
                    </div>
                  </div>

                  <div class="row row-space">
                    <div class="col-2">
                      <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="Disponibles"  name="disponibles" #disponibles="ngModel"
                        [(ngModel)]="modelHabitacionPost.disponibles">
                      </div>

                    </div>
                    <div class="col-2">
                      <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="Tipo"  name="tipo" #tipo="ngModel"
                        [(ngModel)]="modelHabitacionPost.tipo">
                      </div>
                    </div>
                  </div>


                  <div class="p-t-20">
                    <button class="btn btn-outline-dark" (click)="postHabitacion()" >Enviar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
