<!DOCTYPE html>
<html lang="en">

<body>
  <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
      <div class="card card-1">
        <div class="card-heading"></div>
        <div class="card-body">
          <h2 class="title">Agregar hotel</h2>
          <form method="POST">
            <div class="input-group">
              <input class="input--style-1" type="text" placeholder="Nombre del hotel" name="nombre" #nombre="ngModel"
              [(ngModel)]="hotelModelPost.nombre">
            </div>
            <div class="row row-space">
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-1" type="text" placeholder="Administrador" name="administrador" #administrador="ngModel"
                  [(ngModel)]="hotelModelPost.administrador">
                </div>

              </div>
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-1" type="password" placeholder="Contraseña" name="password" #password="ngModel"
                  [(ngModel)]="hotelModelPost.password">
                </div>
              </div>
            </div>

            <div class="row row-space">
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-1" type="text" placeholder="Direccion" name="direccion" #direccion="ngModel"
                  [(ngModel)]="hotelModelPost.direccion">
                </div>

              </div>
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-1" type="text" placeholder="Descripcion" name="descripcion" #descripcion="ngModel"
                  [(ngModel)]="hotelModelPost.descripcion">
                </div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-1" type="text" placeholder="Idioma" name="idioma" #idioma="ngModel"
                  [(ngModel)]="hotelModelPost.idioma">
                </div>

              </div>
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-1" type="text" placeholder="Telefono" name="telefono" #telefono="ngModel"
                  [(ngModel)]="hotelModelPost.telefono">
                </div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-1" type="text" placeholder="Puesto" name="puesto" #puesto="ngModel"
                  [(ngModel)]="hotelModelPost.puesto">
                </div>

              </div>

            </div>
            <div class="p-t-20">
              <button class="btn btn--radius btn--green" type="submit" (click)="postHoteles()">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->
