<!DOCTYPE html>
<html lang="en">

<body>
  <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
      <div class="card card-1">
        <div class="card-heading"></div>
        <div class="card-body">
          <h2 class="title">Registration Info</h2>
          <form method="POST">
            <div class="input-group">
              <input class="input--style-1" type="text" placeholder="Nombre del hotel" name="name">
            </div>
            <div class="row row-space">
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-1" type="text" placeholder="administrador" name="res_code">
                </div>

              </div>
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-1" type="password" placeholder="password" name="res_code">
                </div>
              </div>
            </div>

            <div class="row row-space">
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-1" type="text" placeholder="Direccion" name="res_code">
                </div>

              </div>
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-1" type="text" placeholder="Descripcion" name="res_code">
                </div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-1" type="text" placeholder="Idioma" name="res_code">
                </div>

              </div>
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-1" type="text" placeholder="Telefono" name="res_code">
                </div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-1" type="text" placeholder="Puesto" name="res_code">
                </div>

              </div>

            </div>
            <div class="p-t-20">
              <button class="btn btn--radius btn--green" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->
