<!-- <!DOCTYPE html>
<html lang="en">

<body>
  <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
      <div class="card card-1">
        <div class="card-heading"></div>
        <div class="card-body">
          <h2 class="title">Agregar hotel</h2>
          <form method="POST">
            <div class="input-group">
              <input class="input--style-1" type="text" placeholder="Nombre del hotel" name="nombre" #nombre="ngModel"
              [(ngModel)]="hotelModelPost.nombre">
            </div>
            <div class="row row-space">
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-1" type="text" placeholder="Administrador" name="administrador" #administrador="ngModel"
                  [(ngModel)]="hotelModelPost.administrador">
                </div>

              </div>
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-1" type="password" placeholder="Contraseña" name="password" #password="ngModel"
                  [(ngModel)]="hotelModelPost.password">
                </div>
              </div>
            </div>

            <div class="row row-space">
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-1" type="text" placeholder="Direccion" name="direccion" #direccion="ngModel"
                  [(ngModel)]="hotelModelPost.direccion">
                </div>

              </div>
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-1" type="text" placeholder="Descripcion" name="descripcion" #descripcion="ngModel"
                  [(ngModel)]="hotelModelPost.descripcion">
                </div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-1" type="text" placeholder="Idioma" name="idioma" #idioma="ngModel"
                  [(ngModel)]="hotelModelPost.idioma">
                </div>

              </div>
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-1" type="text" placeholder="Telefono" name="telefono" #telefono="ngModel"
                  [(ngModel)]="hotelModelPost.telefono">
                </div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-1" type="text" placeholder="Puesto" name="puesto" #puesto="ngModel"
                  [(ngModel)]="hotelModelPost.puesto">
                </div>

              </div>

            </div>
            <div class="p-t-20">
              <button class="btn btn--radius btn--green"  (click)="postHoteles()">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->


<!--</body>--><!-- This templates was made by Colorlib (https://colorlib.com) -->

<!--</html>-->

<div class="container-fluid" style="width: 100%;">
  <div class="row">

    <main role="main" class="col-md-12 ml-sm-auto col-lg-12 my-3">
      <div class="card-list">
        <div class="row" class="d-flex justify-content-center">
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4" style="margin-right: 12px;" >
            <div class="card blue"  data-bs-toggle="modal" data-bs-target="#cantidadDeDias">
              <div class="title">HOTELES</div>
              <i class="zmdi zmdi-upload"></i>
              <div class="value" style="cursor: pointer">Agregar hotel</div>
              <div class="stat"><b></b></div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card green" (click)="getUsuarios()" data-bs-toggle="modal" data-bs-target="#verUsuarios">
              <div class="title">Usuarios</div>
              <i class="zmdi zmdi-upload"></i>
              <div class="value" style="cursor: pointer">Ver Usuarios</div>
              <div class="stat"><b></b></div>
            </div>
          </div>
        </div>
      </div>
      <div class="projects mb-4" >
        <div class="projects-inner">
          <header class="projects-header">
            <div class="title">Hoteles Agregados</div>
            <i class="zmdi zmdi-download"></i>
          </header>
          <table class="projects-table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Administrador</th>
                <th>Telefono</th>
                <th>Puesto</th>
                <th class="text-right">Idioma</th>
              </tr>
            </thead>
            <tr *ngFor="let hotel of hotelModelGet">
              <td >
                <p style="color: #ffff; font-size:18px">{{hotel.nombre}}</p>
              </td>
              <td class="member">
                <figure><i class="bi bi-map"></i></figure>
                <div class="member-info">
                  <h5>{{hotel.direccion}}</h5>
                </div>
              </td>
              <td class="member">
                <figure><i class="bi bi-file-person"></i></figure>
                <div class="member-info" >
                  <p style="color: #ffff; font-size:14px">{{hotel.administrador}}</p>
                </div>
              </td>
              <td class="member">
                <figure><i class="bi bi-phone"></i></figure>
                <div class="member-info">
                  <p style="color: #ffff; font-size:14px">{{hotel.telefono}}</p>
                </div>
              </td>
              <td class="member">
                <figure><i class="bi bi-align-bottom"></i></figure>
                <div class="member-info">
                  <p style="color: #ffff; font-size:14px" >{{hotel.puesto}}</p>
                </div>
              </td>
              <td class="member">
                <figure> <i class="bi bi-alt"></i> </figure>
                <div class="member-info">
                  <p style="color: #ffff; font-size:14px">{{hotel.idioma}}</p>
                </div>

              </td>
            </tr>

          </table>
        </div>
      </div>


    </main>
  </div>
</div>

<div class="modal fade" id="cantidadDeDias" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body ">


        <div class="card card-2">
          <div class="card-heading"></div>
          <div class="card-body">
            <h2 class="title">Agregar habitacion</h2>
            <form method="POST">
              <div class="input-group">
                <input class="input--style-2 js-datepicker" style="font-size: 12px;" type="text" placeholder="Nombre" name="nombre" #nombre="ngModel"
                [(ngModel)]="hotelModelPost.nombre">
              </div>

              <div class="input-group">
                <input class="input--style-2 js-datepicker" style="font-size: 12px;" type="text" placeholder="Direccion" name="direccion" #direccion="ngModel"
                [(ngModel)]="hotelModelPost.direccion">
              </div>

              <div class="input-group">
                <input class="input--style-2 js-datepicker" style="font-size: 12px;" type="text" placeholder="Descripcion" name="descripcion" #descripcion="ngModel"
                [(ngModel)]="hotelModelPost.descripcion">
              </div>

              <div class="input-group">
                <input class="input--style-2 js-datepicker" style="font-size: 12px;" type="text" placeholder="Nombre del administrador" name="administrador" #administrador="ngModel"
                [(ngModel)]="hotelModelPost.administrador">
              </div>

              <div class="input-group">
                <input class="input--style-2 js-datepicker" style="font-size: 12px;" type="text" placeholder="Contraseña" name="password" #password="ngModel"
                [(ngModel)]="hotelModelPost.password">
              </div>

              <div class="input-group">
                <input class="input--style-2 js-datepicker" style="font-size: 12px;" type="text" placeholder="Idioma" name="idioma" #idioma="ngModel"
                [(ngModel)]="hotelModelPost.idioma">
              </div>

              <div class="input-group">
                <input class="input--style-2 js-datepicker" style="font-size: 12px;" type="text" placeholder="Telefono" name="telefono" #telefono="ngModel"
                [(ngModel)]="hotelModelPost.telefono">
              </div>

              <div class="input-group">
                <input class="input--style-2 js-datepicker" style="font-size: 12px;" type="text" placeholder="Puesto" name="puesto" #puesto="ngModel"
                [(ngModel)]="hotelModelPost.puesto">
              </div>

              <div class="p-t-20">
                <button class="btn btn-outline-dark" style="font-size:15px" data-bs-dismiss="modal" (click)="postHoteles()" >Guardar</button>
              </div>

            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="verUsuarios" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable" >
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title " id="exampleModalLabel" style="color: #ffff">Ver reservaciones</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <section class="py-5"  >
          <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
              <div class="col mb-5" *ngFor="let us of usuarioModelGet">
                <div class="card h-100">
                  <!-- Product image-->
                  <img class="card-img-top" src="https://modelosdoc.com/wp-content/uploads/2020/04/Modelo-de-carta-de-reservaci%C3%B3n-de-hotel.jpg"
                    alt="..." />
                  <!-- Product details-->
                  <div class="card-body p-4">
                    <div class="text-center" style="color: #000000;">
                      <!-- Product name-->
                      <h5 class="fw-bolder" >{{us.nombre}}</h5>
                      <!-- Product price-->
                      {{us.email}}
                    </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>      </div>
      <div class="modal-footer bg-dark" >
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
